.patient{
    color: black;
    font-size: 20px;
    display:flex;
    margin-left: 20px;
}


.link{
    text-decoration:none;
}

.container{
    margin-top: 80px;
    position: relative;
   max-width: 100%;
          
}

.row{
    background-color:darkgrey;
    margin-bottom: 12px;
    border-radius: 1rem;
    border-style: solid;
    border-color: black;
    border-width: 1.5px;
    justify-content: center;
}

.col{
    text-decoration: none;
    color: black;
}

.hover{
    background-color:cornflowerblue;
}